<ul class="card-preview m-0">
  <ng-container *ngFor="let card of cardsToDisplay">
    <li class="card-preview-item">
      <img class="card" [attr.src]="getHref(card)">
    </li>
    <li class="card-preview-item" *ngIf="cardIsCloud(card) && card.previewPossibilities.length === 2">
      <img class="card" [attr.src]="getHref(card)">
    </li>
  </ng-container>
  <li class="ml-auto parameters">
    <a role="button" (click)="clickOnParameters.emit()"><span class="fa fa-gear"></span></a>
  </li>
</ul>
