<div class="movepad-container" *ngIf="isVisible">
  <a class="closebutton" (click)="close()"><span class="fa fa-times"></span></a>
  <div class="movepad-actions">
    <div class="mp-action top">
      <div class="btn-mp-ac"><span (click)="onRotateLeftButton()" *ngIf="isButtonVisible(onRotateLeft);" class="fa fa-rotate-left"></span></div>
      <div class="btn-mp-ac"><span (click)="onRotateRightButton()" *ngIf="isButtonVisible(onRotateRight);" class="fa fa-rotate-right"></span></div>
    </div>
    <figure>
      <div (touchstart)="onTopButton()" (touchend)="onStop()" *ngIf="isButtonVisible(onTop);" class="btn-mp"></div>
      <div (touchstart)="onRightButton()" (touchend)="onStop()" *ngIf="isButtonVisible(onRight);" class="btn-mp"></div>
      <div (touchstart)="onLeftButton()" (touchend)="onStop()" *ngIf="isButtonVisible(onLeft);" class="btn-mp"></div>
      <div (touchstart)="onBottomButton()" (touchend)="onStop()" *ngIf="isButtonVisible(onBottom);" class="btn-mp"></div>
      <figcaption><span (click)="onValid.emit()" *ngIf="isButtonVisible(onValid);" class="fa fa-flag"></span></figcaption>
    </figure>
    <div class="mp-action bottom">
      <div class="btn-mp-ac"><span (click)="onReset.emit()" *ngIf="isButtonVisible(onReset);" class="fa fa-crosshairs"></span></div>
      <div class="zoom">
        <div class="btn-mp-ac"><span  (touchstart)="onZoomInButton()" (touchend)="onStop()" *ngIf="isButtonVisible(onZoomIn);" class="fa fa-search-plus"></span></div>
        <div class="btn-mp-ac"><span (touchstart)="onZoomOutButton()" (touchend)="onStop()" *ngIf="isButtonVisible(onZoomOut);" class="fa fa-search-minus"></span></div>
      </div>
    </div>
  </div>
</div>
