<ng-container *ngIf="player$|async as player">
  <div *ngIf="game$|async as game" class="play-board d-flex flex-column">
    <app-sidenav #sideNav [direction]="'right'">
      <div class="section-title">Menu</div>
      <button class="btn btn-link" (click)="startGame(game);sideNav.sideBarOpened = false" *ngIf="canStartGame(game, player, (players$|async)?.length)">
        <span class="fa fa-play mr-2"></span>Démarrer la partie
      </button>
      <button class="btn btn-link" (click)="leave(game);sideNav.sideBarOpened = false">
        <span class="fa fa-sign-out mr-2"></span>Quitter la partie
      </button>
      <ng-container *ngIf="players$|async as players">
        <div class="section-title" *ngIf="players.length > 0">Supprimer un joueur</div>
        <ng-container *ngFor="let p of players">
          <button class="btn btn-link" (click)="deletePlayer(p)">
            {{ p.name }}
          </button>
        </ng-container>
      </ng-container>
    </app-sidenav>

    <app-card-preview [cards]="[]" (clickOnParameters)="sideNav.sideBarOpened = true"></app-card-preview>

    <app-cards class="flex-grow-2" [disabled]="moveRemoteIsVisible ||placeBoatRemoteIsVisible"></app-cards>

    <app-action-nav-bar (moveMap)="onMoveMap(true)" (launch)="onStart(true)"></app-action-nav-bar>

    <app-move-map-remote *ngIf="moveRemoteIsVisible" (exit)="onMoveMap(false)"></app-move-map-remote>
    <app-place-boat-remote *ngIf="placeBoatRemoteIsVisible" (exit)="onStart(false)"></app-place-boat-remote>
  </div>
</ng-container>


<ng-template #confirmLeave let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Quitter</h4>
  </div>
  <div class="modal-body">
    <p>De quelle manière voulez-vous quitter la partie ?</p>
  </div>
  <div class="modal-footer flex-wrap flex-column align-middle">
    <button type="button" class="btn btn-secondary w-50 m-0 mb-1" (click)="c(0)">Ne pas quitter</button>
    <button type="button" class="btn btn-primary-regatta w-50 m-0 mb-1" (click)="c(1)">Temporairement</button>
    <button type="button" class="btn btn-primary-regatta w-50 m-0" (click)="c(2)">Définitivement</button>
  </div>
</ng-template>
