@import "~src/styles/variables";

.play-board {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  background-color: $bgColor;

  button {
    display: block;
  }

  app-card-preview {
    height: 10%;
  }

  app-cards {
    height: 80%;
  }
}
