$primaryColor: #4FC1E9;
$primaryColorWithTransparence : rgba(79, 193, 233, 0.6);
$textLightColor: #FFFFFF;
$bgColor : #e6e9ed;
$evenListItemColor : #d7f1fa;
$padArrowHover: #ddd;
$actionBarBgColor: rgba(0,96,151,0.7);
$overlayBgColor: rgba(50,50,50,0.7);
$flashColor : rgb(255, 64, 129);
$bgButtonFlash : rgba(255, 64, 129, 0.88);
