<app-sidenav #sideNav>
  <div class="section-title"></div>
  <a routerLink="/player" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="sideNav.sideBarOpened = false">
    <span class="fa fa-home mr-2"></span>Accueil
  </a>
  <a routerLink="/player/games" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="sideNav.sideBarOpened = false">
    <span class="fa fa-sign-in mr-2"></span>Rejoindre une partie
  </a>
  <a routerLink="/player/games/create" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="sideNav.sideBarOpened = false">
    <span class="fa fa-magic mr-2"></span>Créer une partie
  </a>
  <a routerLink="/player/results" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="sideNav.sideBarOpened = false">
    <span class="fa fa-table mr-2"></span>Classements
  </a>
</app-sidenav>

<h1 class="title-bar h4 p-2">
  <a class="btn pt-1" role="button" (click)="sideNav.sideBarOpened = true; $event.stopPropagation()"><span class="fa fa-bars"></span></a>
  {{ title }}
</h1>
<router-outlet></router-outlet>
