<ng-template [ngIf]="game|async" let-g>
    <div class="podium">
      <div class="step">
        <div class="base-step base-step-two">

        </div>
        <ng-template [ngTemplateOutlet]="podiumPlayer"
                      [ngOutletContext]="{$implicit: getPlayer(g, 2)}"></ng-template>
      </div>
      <div class="step">
        <div class="base-step base-step-one">

        </div>
        <ng-template [ngTemplateOutlet]="podiumPlayer"
                      [ngOutletContext]="{$implicit: getPlayer(g, 1)}"></ng-template>
      </div>
      <div class="step">
        <div class="base-step base-step-three">

        </div>
        <ng-template [ngTemplateOutlet]="podiumPlayer"
                      [ngOutletContext]="{$implicit: getPlayer(g, 3)}"></ng-template>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-6 offset-3">
        <h1 class="h3">Classement</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Numéro de voile</th>
              <th>Nombre de carte jouée</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of g.players|orderBy:'arrivingOrder'">
              <td>{{ p.arrivingOrder }}</td>
              <td>{{ p.name }}</td>
              <td [ngStyle]="{color: p.boat.color}">{{ p.boat.boatNumber }}</td>
              <td>{{ p.cardPlayedCount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</ng-template>



<ng-template #podiumPlayer let-player>
    <div class="head-step" *ngIf="player" >
      <img src="{{ player.photoUrl }}" />
      <p>{{ player?.name }}</p>
    </div>
</ng-template>
