<div *ngIf="game|async; else loading; let g">
  <h1 class="h2 header">
    {{ g.name }} - Ton bateau
  </h1>

  <form #playerForm="ngForm" (submit)="onSubmit()">
    <div class="form-group row">
      <div class="col-12">
        <input class="form-control" type="text" id="name" name="name" value="{{ user.displayName }}" disabled>
      </div>
    </div>

    <div class="form-group row" [class.has-danger]="!number.valid && number.dirty">
      <div class="col-12">
        <input class="form-control" type="number" id="number" name="number" required
               [(ngModel)]="boatNumber" #number="ngModel" appBoatNumberValidator [game]="g">
      </div>
    </div>

    <div class="form-group row">
      <ul class="color-chooser list-unstyled col-12">
        <li *ngFor="let color of colors" class="{{ color.name }}" (click)="selectedColor = color"
            [ngClass]="selectedColor?.name == color.name ? 'active' : ''"></li>
      </ul>
    </div>

    <div class="text-center">
      <button type="submit" class="btn-primary-regatta-100-30">OK</button>
    </div>
  </form>
</div>
<ng-template #loading>

</ng-template>
