<ul class="list-group">
  <li class="list-group-item" *ngFor="let game of games|async">
    <a [routerLink]="['/player/games', game.id, 'register']">
      {{ game.name }}
      <span class="text-muted d-block mt-1">
        <span class="fa fa-map-o mr-2"></span>
        Baie de St Malo
      </span>
      <span class="text-muted d-block">
        <span class="fa fa-users mr-2"></span>
        {{ game.players ? game.players.length + ' joueur(s)' : 'Aucun joueur' }}
      </span>
    </a>
    <span class="fa fa-chevron-right ml-2 my-auto text-muted" style="font-size: 25px;"></span>
  </li>
  <li class="list-group-item" *ngIf="(games|async)?.length === 0" >
    Aucune partie à rejoindre
  </li>
</ul>
