<app-layout>
  <form #gameForm="ngForm" (submit)="onSubmit(user)" novalidate *ngIf="user$|async as user">
    <div class="form-group" [class.has-danger]="!gameName.valid && gameName.dirty">
      <label for="game-name">Nom de la partie</label>
      <input class="form-control" type="text" id="game-name" name="gameName" placeholder="Saisir un nom de partie"
             [(ngModel)]="game.name" #gameName="ngModel">
    </div>
    <div class="form-group" [class.has-danger]="!password.valid && password.dirty">
      <label for="password">Mot de passe de la partie</label>
      <input class="form-control" type="password" id="password" name="password" placeholder="Saisir un mot de passe de partie"
             [(ngModel)]="game.password" #password="ngModel">
    </div>
    <div class="text-center">
      <button type="submit" class="btn-primary-regatta-100-30">OK</button>
    </div>
  </form>
</app-layout>
