form {
  margin: 0 15px;

  .color-chooser {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
      float: left;
      height: 50px;
      width: 50px;
      opacity : 0.9;
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
      &.active {
        border: 3px solid #fff;
      }
    }
    .blue {
      background-color: #1F4788;
    }
    .red {
      background-color: #8F1D21;
    }
    .yellow {
      background-color: #FFB61E;
    }
    .green {
      background-color: #26A65B;
    }
    .purple {
      background-color: #8E44AD;
    }
  }
}
