@import "~bootstrap/scss/bootstrap.scss";

@import "styles/variables";
@import "styles/header";
@import "styles/regatta-primary-button";
@import "styles/color";
@import "styles/flex";

html, body {
  height: 100%;
  background-color: $bgColor;
}

a {
  color: $flashColor;
}
