<div class="movepad-container">
  <a class="closebutton" (click)="onClose()"><span class="fa fa-times"></span></a>
  <div class="movepad-actions">
    <div class="mp-action top">
      <div class="btn-mp-ac"><span (click)="onRotateLeftButton()" *ngIf="isButtonVisible(rotateLeft);" class="fa fa-rotate-left"></span></div>
      <div class="btn-mp-ac"><span (click)="onRotateRightButton()" *ngIf="isButtonVisible(rotateRight);" class="fa fa-rotate-right"></span></div>
    </div>
    <figure>
      <div (touchstart)="onTopButton()" (touchend)="onStop()" *ngIf="isButtonVisible(top);" class="btn-mp"></div>
      <div (touchstart)="onRightButton()" (touchend)="onStop()" *ngIf="isButtonVisible(right);" class="btn-mp"></div>
      <div (touchstart)="onLeftButton()" (touchend)="onStop()" *ngIf="isButtonVisible(left);" class="btn-mp"></div>
      <div (touchstart)="onBottomButton()" (touchend)="onStop()" *ngIf="isButtonVisible(bottom);" class="btn-mp"></div>
      <figcaption><span (click)="valid.emit()" *ngIf="isButtonVisible(valid);" class="fa fa-flag"></span></figcaption>
    </figure>
    <div class="mp-action bottom">
      <div class="btn-mp-ac"><span (click)="clear.emit()" *ngIf="isButtonVisible(clear);" class="fa fa-crosshairs"></span></div>
      <div class="zoom">
        <div class="btn-mp-ac"><span  (touchstart)="onZoomInButton()" (touchend)="onStop()" *ngIf="isButtonVisible(zoomIn);" class="fa fa-search-plus"></span></div>
        <div class="btn-mp-ac"><span (touchstart)="onZoomOutButton()" (touchend)="onStop()" *ngIf="isButtonVisible(zoomOut);" class="fa fa-search-minus"></span></div>
      </div>
    </div>
  </div>
</div>
