@import "../../../styles/variables.scss";

svg {
  max-height: 100%;
}
rect.possibility {
  fill: transparent;
  stroke: #ccc;
  stroke-width: 0.1;

  &.card-selectable{
    fill: #ccc;
  }
}

.card-overlay {
  .select-card-button {
    background: $overlayBgColor;
    color: #bbb;
    border: solid 1px #fff;
    width: 100%;
    height: 100%;
    padding: 0;

    &.active {
      color: #fff;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
