@import "../../../styles/variables.scss";

svg {
  max-height: 100%;
}
rect.possibility {
  fill: transparent;
  stroke: #ccc;
  stroke-width: 0.1;

  &.card-selectable{
    fill: #ccc;
  }
}

.card-overlay {
  .select-card-button {
    background: $overlayBgColor;
    color: #bbb;
    border: solid 1px #fff;
    padding: 0;
    width: 100%;
    height: 100%;

    &.active {
      color: #fff;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .player-trap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    p {
      font-size: 5px;
      margin: 0;
    }
  }
}
