<ul class="players">
  <li class="player" *ngFor="let tuple of users">
    <div class="img-container" [ngStyle]="{'background-image': 'url(' + tuple.user.photoURL + ')'}">
        <div class="player-informations">
            <p>{{ tuple.user.displayName }}</p>
            <div class="key-value-container">
              <div class="key-value">
                <span class="key" [ngStyle]="{'background-color': tuple.player.boat.color, 'border-color': tuple.player.boat.color}"><span class="ion-md-boat"></span></span>
                <span class="value" [ngStyle]="{'border-color': tuple.player.boat.color}">{{ tuple.player.boat.boatNumber }}</span>
              </div>
              <div class="key-value">
                <span class="key" [ngStyle]="{'background-color': tuple.player.boat.color, 'border-color': tuple.player.boat.color}"><span class="fa fa-trophy"></span></span>
                <span class="value" [ngStyle]="{'border-color': tuple.player.boat.color}">{{ tuple.user.victoryCount }}</span>
              </div>
              <div class="key-value">
                <span class="key" [ngStyle]="{'background-color': tuple.player.boat.color, 'border-color': tuple.player.boat.color}"><span class="ion-md-podium"></span></span>
                <span class="value" [ngStyle]="{'border-color': tuple.player.boat.color}">{{ tuple.user.podiumCount }}</span>
              </div>
              <div class="key-value">
                <span class="key" [ngStyle]="{'background-color': tuple.player.boat.color, 'border-color': tuple.player.boat.color}"><span class="fa fa-flag-checkered"></span></span>
                <span class="value" [ngStyle]="{'border-color': tuple.player.boat.color}">{{ tuple.user.partyCount }}</span>
              </div>
            </div>
          </div>
    </div>

  </li>
</ul>
