<div *ngIf="player" class="play-board d-flex flex-column">
  <app-card-preview [cards]="player.cards"></app-card-preview>

  <swiper class="flex-grow-2">
    <div class="swiper-wrapper">
      <app-card-to-play class="swiper-slide" *ngFor="let card of player.cards" [isInTrashMode]="actionNavBar.mode === 'trash'"
                [card]="card" [canDisplayPossibilities]="canDisplayPossibilities(card, actionNavBar.mode)"
                [isInTrapMode]="actionNavBar.mode === 'trap'" [game]="game"
                (clickOnPossibility)="previewCard($event)"></app-card-to-play>
    </div>
  </swiper>

  <app-action-nav-bar  #actionNavBar
                       [flagIsVisible]="player.isWaitingToStart() && game.isStarted()"
                       [clearIsVisible]="player.hasPreviewedCards()"
                       [trapIsVisible]="gameFlowService.canTrap(player)"
                       [trashIsVisible]="gameFlowService.canDropCard(player)"
                       [playIsVisible]="gameFlowService.canMove(player)"
                       [tackIsVisible]="gameFlowService.canTack(player)"
                       [terminateIsVisible]="canTerminateCurrentAction(actionNavBar.mode)"
                       (onStart)="placeRemoteIsVisible.isVisible = true;"
                       (onMoveMap)="moveRemoteIsVisible.isVisible = true;"
                       (onTackBabord)="tack(-90, confirmTack)" (onTackTribord)="tack(90, confirmTack)"
                       (onTrash)="dropCards(confirmTrash)" (onClearPreview)="clearPreview()" (onPlay)="play(confirmPlaying)"
                       (onTrap)="trap(confirmTrap)"></app-action-nav-bar>

  <app-move-map-remote #moveRemoteIsVisible [game]="game"></app-move-map-remote>
  <app-place-boat-remote #placeRemoteIsVisible [game]="game" [player]="player"></app-place-boat-remote>
</div>

<ng-template #confirmTack let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Virer de bord</h4>
  </div>
  <div class="modal-body">
    <p>Êtes-vous sûr de vouloir virer de bord ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('no')">Non</button>
    <button type="button" class="btn btn-primary-regatta" (click)="c('yes')">Oui</button>
  </div>
</ng-template>
<ng-template #confirmTrash let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Défausser des cartes</h4>
  </div>
  <div class="modal-body">
    <p>Êtes-vous sûr de vouloir vous défausser de ces cartes ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('no')">Non</button>
    <button type="button" class="btn btn-primary-regatta" (click)="c('yes')">Oui</button>
  </div>
</ng-template>
<ng-template #confirmPlaying let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Se déplacer</h4>
  </div>
  <div class="modal-body">
    <p>Êtes-vous sûr de vouloir jouer ces cartes de déplacement ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('no')">Non</button>
    <button type="button" class="btn btn-primary-regatta" (click)="c('yes')">Oui</button>
  </div>
</ng-template>
<ng-template #confirmTrap let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Piéger</h4>
  </div>
  <div class="modal-body">
    <p>Êtes-vous sûr de vouloir jouer ces cartes de piège ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('no')">Non</button>
    <button type="button" class="btn btn-primary-regatta" (click)="c('yes')">Oui</button>
  </div>
</ng-template>
