<div *ngIf="player|async; else loading; let p;" class="play-board d-flex flex-column">
  <app-card-preview [cards]="p.cards"></app-card-preview>

  <swiper class="flex-grow-2">
    <div class="swiper-wrapper">
      <app-card class="swiper-slide" *ngFor="let card of p.cards" [isInTrashMode]="actionNavBar.mode === 'trash'"
                [card]="card" [canDisplayPossibilities]="canDisplayPossibilities(p, card, actionNavBar.mode)"
                (clickOnPossibility)="previewCard($event, p)"></app-card>
    </div>
  </swiper>

  <app-action-nav-bar  #actionNavBar
                       [flagIsVisible]="p.isWaitingToStart()"
                       [clearIsVisible]="p.hasPreviewedCards()"
                       [trapIsVisible]="gameFlowService.canTrap(p)"
                       [trashIsVisible]="gameFlowService.canDropCard(p)"
                       [playIsVisible]="gameFlowService.canMove(p)"
                       [tackIsVisible]="gameFlowService.canTack(p)"
                       [terminateIsVisible]="canTerminateCurrentAction(p, actionNavBar.mode)"
                       (onStart)="placeRemoteIsVisible.isVisible = true;"
                       (onMoveMap)="moveRemoteIsVisible.isVisible = true;"
                       (onTackBabord)="tack(p, -90)" (onTackTribord)="tack(p, 90)"
                       (onTrash)="dropCards(p)" (onClearPreview)="clearPreview(p)"></app-action-nav-bar>

  <app-move-map-remote #moveRemoteIsVisible [game]="game"></app-move-map-remote>
  <app-place-boat-remote #placeRemoteIsVisible [game]="game" [player]="p"></app-place-boat-remote>
</div>

<ng-template #loading>
</ng-template>
