@import "~src/styles/variables";

ul.card-preview {
  background-color: $primaryColor;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  padding-left: 0;
  list-style: none;

  > li.card-preview-item {
    height: 100%;
    display: block;
    position: relative;

    img {
      margin-right: 2px;
      height: 100%;
      position: relative;
      display: block;

      &.current-card {
        border: solid 3px white;
      }
    }
  }

  > .parameters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    color: white;
  }
}
